@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

$azul: #0F69AF;
$azulMetal: #123058;
$rosa: #FE2F97;
$morado: #5D56A0;
$rojo: #FF0000;
$amarillo: #FFC545;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EEF5FC;
}
a{text-decoration: none;}
img{vertical-align: top;}
input, button, select, option{
    outline: none;
}
button{cursor: pointer;}
body{
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
input, button{
    font-family: 'Quicksand', sans-serif;
}
.contenedor{
    width: min(86%, 1500px);
    margin-inline: auto;
    &.lg{
        width: min(88%, 1575px);
    }
}
main, header, footer, section{
    width: 100%;
}
.header{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    z-index: 1;
    @media (max-width: 700px){
        top: 0;
    }
}
header{
    position: relative;
    z-index: 2;
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;

    @media (max-width: 700px){
        height: 110px;
    }

    .grid{
        display: grid;
        grid-template-columns: 66px 1fr 66px;
        align-items: center;

        @media (max-width: 700px){
            grid-template-columns: 46px 1fr 46px;
        }

        &>div{
            width: 100%;
            @media (max-width: 700px){
                &:nth-child(1){
                    a{
                        transition: all 0s ease !important;
                        opacity: 0;
                        pointer-events: none;
                        user-select: none;
                    }
                }
            }
        }
        img, a{
            display: block;
            margin: 0 auto;
        }
        .logo{
            width: min(100%, 200px);
            @media (max-width: 700px){
                width: min(100%, 145px);
            }
            img{
                width: 100%;
            }
        }
        div:nth-child(odd){
            a{
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 14px;
                overflow: hidden;
                transition: all 1.2s ease;
                &:hover{
                    border-radius: 50%;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
footer{
    &>img{
        width: 100%;
    }
}
main{
    position: relative;
    z-index: 2;
    padding: 4rem 0;
    @media (max-width: 700px){
        padding: 2rem 0 4rem;
    }
}
.modules{
    min-height: 50vh;
    h1{
        text-align: center;
        font-size: 2.5rem;
        color: $azul;
        margin-bottom: 3.5rem;
        b{
            font-size: 2.75rem;
            display: block;
            color: $rosa;
        }
        @media (max-width: 700px){
            font-size: 1.6rem;
            margin-bottom: 2rem;
            b{
                font-size: 1.8rem;
            }
        }
    }
    .row{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 25px;
        @media (max-width: 700px){
            grid-template-columns: 100%;
        }
        a{
            width: min(100%, 100%);
        }
    }
    &.ajustes{
        .row{
            grid-template-columns: repeat(4, 1fr);
        }
        .module{
            margin: 0 auto;
        }
    }
    .advice{
        margin-top: 12vh;
        color: $azul;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }
}

%transition{
    transition: all .3s ease;
}

.module{
    display: block;
    width: min(100%, 240px);
    background: white;
    text-decoration: none;
    box-shadow: 0px 4.0622px 12.1866px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 1.3rem 1rem 1.6rem;
    height: fit-content;
    position: relative;
    @extend %transition;

    @media (max-width: 700px){
        display: grid;
        grid-template-columns: 30% 60%;
        align-items: center;
        grid-gap: 10%;

        max-width: 330px;
        padding: 1rem 1.5rem !important;
        margin: 0 auto;
        

        &:nth-child(even){
            grid-template-columns: 60% 30%;
            .module{
                &_img{
                    order: 1;
                }
                &_txt{
                    order: 0;
                }
            }
        }
    }

    &_img{
        width: 90%;
        max-width: 160px;
        position: relative;
        margin: 0 auto 14px;
        @media (max-width: 700px){
            width: 100%;
            margin-bottom: 0;
        }
    }
    &_txt{
        width: 100%;
    }
    &_hover{
        width: 100%;
        opacity: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 90%;
        background: white;
        box-shadow: 0px 3.24976px 3.24976px 0px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 20px 20px;
        padding: 1.5rem 0 1.05rem;

        transition: all .5s ease;
        @media (max-width: 700px){
            display: none;
        }
    }
    img{
        display: block;
        box-shadow: 0px 3.24976px 3.24976px 0px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 0 auto;
    }
    p{
        text-align: center;
        font-weight: bold;
        color: $morado;
        font-size: 1.8rem;
        @media (max-width: 700px){
            text-align: left;
            font-size: 1.3rem;
        }
    }
    span{
        display: block;
        color: $rosa;
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
        font-size: 1.3rem;
    }
    &_toast{
        z-index: 2;
        position: absolute;
        bottom: 86%;
        left: 90%;
        background: $rojo;
        color: $amarillo;
        border-radius: 8px;
        font-size: 1.1rem;
        padding: 8px 12px 8px 17px;
        opacity: 0;
        transition: all .6s ease;
        &::before{
            position: absolute;
            content: '';
            width: 25px;
            height: 25px;
            opacity: 1;
            border-radius: 50%;
            bottom: -10px;
            left: -9px;
            background: $rojo;
        }
    }
    &:hover{
        .module{
            &_toast{
                opacity: 1;
            }
            &_hover{
                top: calc(100% - 22px);
                opacity: 1;
            }
        }
    }
}

footer{
    position: relative;
    .contenedor{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logo{
        display: block;
        width: min(100%, 220px);
        margin: 0 auto 8vh;
    }
    .grid{
        width: 86%;
        display: grid;
        grid-template-columns: 1fr 28% 24%;
        align-items: stretch;
        @media (max-width: 1600px){
            width: 81%;
        }
        div{
            width: 100%;
            &:not(:first-child){
                padding-left: 30px;
            }
            &:not(:last-child){
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid white;
            }
        }
    }
    small, p, a{
        color: white;
    }
    small{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: justify;
        line-height: 1.2em;
    }
    ul{
        width: fit-content;
        list-style: none;
        &:not(.internal){
            margin: 0 auto;
        }
        li{
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        p, a{
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}

.pill_title{
    width: 100%;
    max-width: 425px;
    display: flex;
    align-items: center;
    position: relative;
    &.center{
        margin: 0 auto;
    }
    &_img{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 160px;
        height: auto;
        aspect-ratio: 1/1;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &_txt{
        padding-left: 110px;
        background: $amarillo;
        border-radius: 70px;
        height: 120px;
        width: calc(100% - 60px);
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
    }
    h1{
        color: $rosa;
        font-size: 2.7em;
        line-height: 1.1em;
        span{
            display: block;
            color: $azul;
        }
    }
}

.mb_section{
    padding-block: 3rem;
    .contenedor{
        &:not(:last-child){
            margin-bottom: 6vh;
        }
    }
}

.planning{
    .row{
        display: grid;
        grid-template-columns: 35% 1fr;
        align-items: center;
    }
    .col{
        &:nth-child(2){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5.5%;
        }
    }
    .module p{
        font-size: 1.6rem;
        min-height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.breadcrumb{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    gap: 10px;
    a, p{
        display: block;
        margin: 0;
        color: $azul;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.1em;
    }
}

.how_works{
    h1{
        color: $azul;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        span{
            color: $rosa;
        }
    }
    .video{
        margin: 0 auto;
    }
}

.video{
    width: 100%;
    max-width: 900px;
    background: #3C3C3C;
    border-radius: 20px;
    video{
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
    }
}

.back{
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img{
        width: 30px;
        height: 30px;
        object-fit: contain;
        object-position: center;
    }
    p{
        font-size: 26px;
        letter-spacing: -1px;
        font-weight: bold;
        color: $azul;
    }
}

.anual_objective{
    .row{
        display: grid;
        grid-template-columns: 62% 30%;
        grid-gap: 8%;
    }
    .pesaje{
        width: 100%;
        display: grid;
        grid-template-columns: calc(40% - 7px) 1fr 45px;
        grid-gap: 7px;
        align-items: center;
        img{
            width: 100%;
        }
        input{
            border: 4px solid $azul;
            background: white;
            border-radius: 60px;
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
            width: 100%;
            padding-block: 6px;
            max-width: 170px;
            margin: 0 auto;
        }
        p{
            text-align: center;
            font-weight: bold;
            color: $azul;
            font-size: 1.3rem;
        }
    }
    .hr{
        width: 85%;
        height: 2px;
        background: $azulMetal;
        margin: 0 auto;
        margin-block: 3rem;
    }
    h2, h3{
        color: $azul;
        font-weight: 500;
        b, strong{
            color: $rosa;
        }
    }
    h2{
        font-size: 2.2em;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    h3{
        font-size: 2em;
    }

    .save{
        margin: 5vh auto 0;
    }
}

.obj_accord{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    h3{
        width: calc(100% - 110px);
    }
}

.switch{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 45px;
    .slider{
        position: absolute;
        cursor: pointer;
        inset: 0;
        background: white;
        border-radius: 50px;
        border: 2px solid $azul;
        &::before, &::after{
            transition: all .4s ease;
            position: absolute;
        }
        &::before{
            content: '';
            left: 5px;
            border-radius: 50%;
            bottom: 3px;
            width: 35px;
            height: 35px;
            aspect-ratio: 1/1;
            background: $azulMetal;
        }
        &::after{
            content: 'No';
            color: $azulMetal;
            font-size: 22px;
            font-weight: 600;
            left: 50px;
            top: 9px;
            line-height: 1em;
        }
    }
    input{
        width: 0;
        height: 0;
        opacity: 0;
        &:checked{
            &+.slider{
                &::before{
                    background: $rosa;
                    transform: translateX(52px);
                }
                &::after{
                    content: 'Si';
                    color: $rosa;
                    left: 22px;
                }
            }
        }
    }
}

.profile{
    h1{
        color: $rosa;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 3.5rem;
    }
    &_box{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: calc(30% - 15px) calc(70% - 15px);
        grid-gap: 30px;

        input, select{
            border: none;
            background: none;
            @extend %transition;
            border-radius: 50px;
            color: $azul;
            text-align: center;
            border: 2px solid transparent;
            &:not([disabled]){
                color: $azulMetal;
                border-color: $azul;
            }
        }

        &>div{
            width: 100%;
        }
        &_info{
            &_content{
                width: 100%;
                height: 100%;
                background: white;
                border-radius: 25px;
                padding-block: 1.3rem;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                position: relative;

                .td, input{
                    font-size: 1.35rem;
                    height: 44px;
                    font-weight: bold;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .edit{
                    border-radius: 50%;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: none;
                    filter: drop-shadow(0px 2.586956262588501px 2.586956262588501px rgba(0, 0, 0, 0.25));
                    top: -25px;
                    right: -25px;
                    z-index: 2;
                    img{
                        width: 100%;
                        object-fit: contain;
                        object-position: center;
                        height: 100%;
                    }
                }
            }
        }
        &_mail{
            grid-column: span 2;
            a{
                color: $azul;
                font-weight: bold;
                text-align: center;
                display: block;
                margin: 0 auto;
                font-size: 1.5rem;
            }
        }
        &_img{
            padding-block: 2rem 3rem;
            .h2{
                margin-top: 20px;
                font-size: 1.65em;
                width: 100%;
                font-weight: 600;

                padding-block: 5px;
            }
        }


        .table{
            width: 100%;
            max-width: 500px;
            &>div{
                width: 100%;
            }
            .tr{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                &:not(:last-child){
                    margin-bottom: 22px;
                }
                &>div{
                    width: 50%;
                }
                .td{
                    &:nth-child(1){
                        color: $morado;
                        font-weight: 700;
                    }
                    &:nth-child(2){
                        color: $azul;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }

    }
}

.config_process{
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.save{
    display: block;
    margin-top: 30px;
    width: 100%;
    max-width: 220px;
    padding-block: 10px;
    font-size: 1.65rem;
    border-radius: 50px;
    background: $amarillo;
    color: $azul;
    text-align: center;
    font-weight: bold;
    border: 3px solid transparent;
    @extend %transition;
    &:hover{
        background: transparent;
        border-color: $azul;
    }
    &.center{
        margin-inline: auto;
    }
}

.user_image{
    background: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    &_border{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: $azul;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;       
        object-position: center;
    }
}

.info_content{
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    &>p, h2{
        text-align: center;
        color: $azul;
    }
    &>p{
        font-weight: 500;
        font-size: 1.3rem;
    }
    .tels{
        padding-top: 3rem;
        h2{
            font-weight: bold;
            font-size: 2.5rem;
            margin-bottom: 18px;
        }
        .grid{
            display: grid;
            grid-template-columns: 40% 50%;
            grid-gap: 10%;
        }
        .tel{
            border-radius: 30px;
            padding: 1.1rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 6px;

            &:nth-child(1){
                background: $rosa;
            }
            &:nth-child(2){
                background: $amarillo;
            }
            h3{
                text-align: center;
                font-weight: bold;
            }
            a{
                display: block;
                color: $amarillo;
                text-align: center;
                font-weight: bold;
                font-size: 1.3rem;
            }
            &_table{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                p{
                    color: $morado;
                    font-weight: bold;
                }
                div{
                    width: 100%;
                }
            }
        }
    }
}

.articles{
    padding-block: 3rem;
    &_container{
        width: 100%;
        display: grid;
        grid-template-columns: calc(30% - 15px) calc(70% - 15px);
        grid-gap: 30px;
    }
    &_bar{
        h3{
            color: $rosa;
            font-size: 2em;
            margin-bottom: 15px;
        }
        ul{
            list-style: none;
            a{
                color: #68686D;
                font-size: 1.2em;
            }
            li{
                &:not(:last-child){
                    margin-bottom: 13px;
                }
                &.active{
                    a{
                        color: $morado;
                        font-weight: bold;
                    }
                    path{
                        stroke: $morado;
                    }
                }
            }
        }
    }
    &_box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 20px;
    }

}

article{
    width: 100%;
    background: white;
    padding: 7px;
    border-radius: 10px;
    position: relative;
    &.notificacion{

        &::before{
            position: absolute;
            content: '';
            width: 34px;
            height: 34px;
            background: $rojo;
            border-radius: 50%;
            top: -9px;
            right: -9px;
        }
    }
    .toast{
        position: absolute;
        bottom: 100%;
        left: calc(100% - 10px);
        background: $rojo;
        padding: 6px 10px 6px 16px;
        border-radius: 6px;
        color: $amarillo;
        font-weight: 700;
        opacity: 0;
        transition: all .5s ease;
    }
    figure{
        display: block;
        width: 100%;
        height: auto;
        &>img{
            aspect-ratio: 16/9;
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
            object-position: center;
        }
        figcaption, img{
            width: 100%;
        }
        figcaption{
            color: $azulMetal;
            font-weight: 700;
            font-size: 1.3em;
        }
    }
    .px-2{
        padding: 1.25rem 1rem 0;
    }
    .categories{
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        div{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
        }
        img{
            width: 32px;
            height: 32px;
            object-fit: contain;
            object-position: center;
        }
        p{
            font-size: 14px;
            color: $morado;
            font-weight: 700;
        }
    }
    &:hover{
        .toast{
            opacity: 1;
        }
    }
}

%center-timeline{
    top: 50%;
    transform: translateY(-50%);

    transition: all .7s ease;
}

.etapa{
    padding: 8rem 0 3rem;
    @media (max-width: 700px){
        display: none;
    }
}

.etapas{
    background: #D9D9D9;
    border-radius: 50px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px 3.2rem;
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-gap: 10px;
    align-items: center;
    &>p{
        font-size: 1.4rem;
    }
    .timeline{
        width: 100%;
        background: $azulMetal;
        border-radius: 25px;
        position: relative;
        height: 10px;
        &_bg{
            height: 13px;
            position: absolute;
            left: 0;
            @extend %center-timeline;
            background: $rosa;
            border-radius: 25px;
        }
        .dot{
            position: absolute;
            display: block;
            @extend %center-timeline;
            background: $azul;
            width: 20px;
            height: 20px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            z-index: 3;

            &.transparent{
                background: transparent !important;
            }

            &:nth-child(2){left: 0;}
            &:nth-child(3){left: 16.66%;}
            &:nth-child(4){left: 33.32%;}
            &:nth-child(5){left: 49.98%;}
            &:nth-child(6){left: 66.64%;}
            &:nth-child(7){left: 83.30%;}
            &:nth-child(8){right: 0;}
        }
        &_toast{
            position: absolute;
            bottom: calc(100% + 26px);
            background: $amarillo;
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding-block: 7px;
            padding-inline: 1rem;
            transition: all .7s ease;
            gap: 6px;

            left: -12.5%;

            width: max-content;

            span{
                display: block;
                text-align: center;
                color: $azulMetal;
                font-weight: 700;
                margin-bottom: 6px;
                width: 100%;
                font-size: 1.2rem;
            }

            &.toast1{
                flex-direction: column;
                padding-inline: 1.5rem;
            }

            &::before{
                position: absolute;
                content: '';
                left: 50%;
                transform: translateX(-50%);
                top: 100%;

                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 14px solid #FFC545;

            }

            p{
                margin: 0;
                color: $azul;
                font-weight: 700;
                transition: all .7s ease;
                line-height: 1.2em;
                font-size: 1.1rem;
                &.center{
                    text-align: center;
                }
            }
            img{
                width: 33px;
                height: 33px;
                object-fit: contain;
                object-position: center;
            }
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-content: center;
            grid-gap: 10px;
            div{
                width: 100%;
            }
            small{
                display: block;
                width: 100%;
                text-align: center;
                font-weight: 700;
                color: $azul;
            }
        }

        &.time1{
            .timeline{
                &_bg{
                    width: calc(16.66% + 1%);
                }
                &_toast{
                    left: -12.5%;
                }
            }
            .dot:nth-child(3){
                background: $amarillo;
            }
        }
        &.time2{
            .timeline{
                &_bg{
                    width: calc(33.32% + 1%);
                }
                &_toast{
                    left: 24.5%;
                }
            }
            .dot:nth-child(3),
            .dot:nth-child(4){
                background: $amarillo;
            }
        }
        &.time3{
            .timeline{
                &_bg{
                    width: calc(49.98% + 1%);
                }
                &_toast{
                    left: 41.5%;
                }
            }
            .dot:nth-child(3),
            .dot:nth-child(4),
            .dot:nth-child(5){
                background: $amarillo;
            }
        }
        &.time4{
            .timeline{
                &_bg{
                    width: calc(66.64% + 1%);
                }
                &_toast{
                    left: 57.6%;
                }
            }
            .dot:nth-child(3),
            .dot:nth-child(4),
            .dot:nth-child(5),
            .dot:nth-child(6){
                background: $amarillo;
            }
        }
        &.time5{
            .timeline{
                &_bg{
                    width: calc(83.30% + 1%);
                }
                &_toast{
                    left: 75%;
                }
            }
            .dot:nth-child(3),
            .dot:nth-child(4),
            .dot:nth-child(5),
            .dot:nth-child(6),
            .dot:nth-child(7){
                background: $amarillo;
            }
        }
        &.time6{
            .timeline{
                &_bg{
                    width: 100%;
                }
                &_toast{
                    left: 86.5%;
                }
            }
            .dot:nth-child(3),
            .dot:nth-child(4),
            .dot:nth-child(5),
            .dot:nth-child(6),
            .dot:nth-child(7),
            .dot:nth-child(8){
                background: $amarillo;
            }
        }

    }
}